
<div class="container text-center" style="padding: 100px 0;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-danger">
                <h1 class="display-3">Oups!</h1>
                <p class="lead">Une erreur est survenue.</p>
                <hr class="my-4">
                <p>
                    Il semble qu'il y ait un problème avec la page que vous cherchez à atteindre.
                </p>
                <a class="btn btn-primary btn-lg" href="/" role="button">Retour à l'accueil</a>
            </div>
        </div>
    </div>
</div>
